.toast {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 640px;
  height: 50px;
  border-radius: 8px;
}

.toast.darkmode {
  background: rgba(40, 40, 45, 1);
}

.toast.lightmode {
  background: #F6F0E8;
}

.toast p {
  position: relative;
  z-index: 1;
}

@media screen and (max-width: 500px) {
  .toast {
    width: 90vw;
    font-size: small;
  }
}