.bio-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  margin: 0 0 40px 0;
}

.ligne span {
  margin-right: 17px;

  font-weight: bold;
}

.bio-container p {
  word-spacing: 1px;
  line-height: 20px;
  
  opacity: 0.7;
}
