.posts-container {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: 1.5rem;
  width: 100%;
  padding: 1rem;
}

.vertical-slide {
  opacity: 0;
  animation: animate 0.3s linear;
  animation-fill-mode: forwards;
}

.vertical-slide:nth-child(1) {
  animation-delay: 150ms;
}

.vertical-slide:nth-child(2) {
  animation-delay: 400ms;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  95% {
    opacity: 0.4;
    transform: translateY(1%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}


@media screen and (max-width: 640px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}