.works {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.works__title {
  padding-top: 30px;
  user-select: none;
}

.works__card {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
  width: 300px;
  height: 200px;
  font-weight: bold;
  font-size: 1.2em;
  overflow: hidden;
}

.works__card--grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: .5rem;
  grid-row-gap: 1.5rem;
  width: 100%;
  padding: 1rem;
  margin-top: 30px;
  z-index: 2;
  user-select: none;
}

.works__card--img {
  width: 100%;
  position: absolute;
  opacity: .3;
  cursor: pointer;
}

.works__card.darkmode {
  width: 100%;
  text-shadow: 1px 0px 1px black;
  background: #1f1d21;
  color: #f0e7db;

}

.works__card.lightmode {
  width: 100%;
  background: #F0E7DB;
  color: #1f1d21;
}

.works__card--vertical-slide {
  opacity: 0;
  animation: animate 0.3s linear;
  animation-fill-mode: forwards;
}

.works__card--vertical-slide:nth-child(2) {
  animation-delay: 25ms;
}

.works__card--vertical-slide:nth-child(3) {
  animation-delay: 50ms;
}

.works__card--vertical-slide:nth-child(4) {
  animation-delay: 250ms;
}

.works__card--vertical-slide:nth-child(5) {
  animation-delay: 400ms;
}

@keyframes animate {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  80% {
    opacity: 0.4;
    transform: translateY(1%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media screen and (max-width: 640px) {
  .works__card--grid {
    grid-template-columns: 1fr;
  }
}
