.card-container {
  width: 270px;
  margin: 0 auto;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
  /* box-shadow: 0px 5px 20px #999; */
}

.card-image:hover {
  transform: scale(1.05);
  transition: all 0.4s ease-in-out;
}

.card-image {
  height: 150px;
  position: relative;
  overflow: hidden;
  border-radius: 20px;
  cursor: pointer !important;
  transition: all 0.4s ease-in-out;
}

.card-image img {
  width: 150%;
  position: absolute;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card-body {
  height: 150px;
  text-align: center;
  padding: 15px, 20px;
  box-sizing: border-box;
}

.card-title {
  width: 100%;
  font-size: 1.2rem;
  padding: 0.5rem;
  text-transform: uppercase;
}

.card-body {
  padding: 0.5rem;
}



.card {
  width: 45ch;
  height: 45ch;
  background: grey;
  border-radius: 5px;
  background-image: url(https://drscdn.500px.org/photo/435236/q%3D80_m%3D1500/v2?webp=true&sig=67031bdff6f582f3e027311e2074be452203ab637c0bd21d89128844becf8e40);
  background-size: cover;
  background-position: center center;
  box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.3);
  transition: box-shadow 0.5s;
  will-change: transform;
  border: 15px solid white;
}

.card:hover {
  box-shadow: 0px 30px 100px -10px rgba(0, 0, 0, 0.4);
}
