.quickme {
  display: flex;
  justify-content: space-between;
  z-index: 2;
}

.quickme__image {
  height: 150px;
}

.quickme__my-self {
  display: flex;
  flex-direction: column;
  /* padding-bottom: 15px; */
}

.toast {
  margin: 15px 0;
}

.quickme__my-self .contents {
  display: flex;
  justify-content: space-between;

}

.quick-desc h1 {
  font-family: 'Mooli', sans-serif;
}

.quick-desc p {
  font-size: medium;
  padding-top: 10px;
}

.pp-container {
  display: block;
  position: relative;
  width: auto;
  height: auto;
  border: 2px solid rgba(255, 255, 255, 0.80);
  border-radius: 50%;
  overflow: hidden;
}

.pp-image {
  width: 110px;
  height: 110px;
}

@media screen and (max-width: 640px) {
  .my-self .contents {
    flex-direction: column;
    align-items: center;
  }

  .quick-desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
  }

  .quick-desc p {
    font-size: smaller;
  }
}