.container-quickme {
  display: flex;
  justify-content: space-between;
}

.top-image {
  height: 150px;
}

.my-self {
  display: flex;
  flex-direction: column;
}

.toast {
  margin: 15px 0;
}

.my-self .contents {
  display: flex;
  justify-content: space-between;

}

.quick-desc p {
  font-size: 14px;
}

.pp-container {
  position: relative;
  width: 105px;
  height: 105px;
  border: 2px solid rgba(255, 255, 255, 0.80);
  border-radius: 50%;
  overflow: hidden;
}

.pp-image {
  width: 110px;
  height: 110px;
  /* border-radius: 50%; */
}

