nav {
  display: flex;
  justify-content: space-around;
  width: 8em;
}

.is-active.darkmode {
  color: #E45AB0 !important;
}

.is-active.lightmode {
  color: #87A5E7 !important;
}

a.lightmode {
  color: #212121;
  cursor: pointer;
}

a.darkmode {
  color: whitesmoke;
  cursor: pointer;
}