socials {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 40px 0;
}

.socials p {
  word-spacing: 4px;
  line-height: 20px;
  margin-left: 5px;
  color: #BB4F5D;
  font-weight: bold;
  cursor: pointer;
}

.socials__media {
  display: flex;
  justify-content: space-between;
}

.socials .ligne {
  display: flex;
  padding: 10px 0;
}

@media screen and (max-width: 640px) {
  .socials__media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}