@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mooli&display=swap');

html {
  --scrollbarBG: #1F1D21;
  --thumbBG: #6c2c2c;

  overflow-y: auto;
}

*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  cursor: default;
  list-style-type: none;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-height: 100vh;
  overflow-y: scroll;
  /* overscroll-behavior: none; */
}

/* Scroll darkmode */

body::-webkit-scrollbar {
  width: 14px;
}
body {
  scrollbar-width: thin;
  scrollbar-color: var(--thumbBG) var(--scrollbarBG);
}
body::-webkit-scrollbar-track {
  background: var(--scrollbarBG);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--thumbBG) ;
  border-radius: 6px;
  border: 3px solid var(--scrollbarBG);
}
/* ************************************** */

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
}

a.lightmode {
  color: #212121;
}

a.darkmode {
  color: whitesmoke;
}

.app {
  display: flex;
  justify-content: center;
  background-color: #1f1d21;
  color: whitesmoke;
}

.app.darkmode {
  color: whitesmoke;
  background: #1f1d21;
  position: relative;
  z-index: 0;
  min-height: 100vh;
}

.app.lightmode {
  background: #f0e7db;
  color: #1a2639;
  position: relative;
  z-index: 0;
  min-height: 100vh;
}

.global-container {
  width: 100%;
  max-width: 940px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.particles {
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

main {
  width: 100%;
  max-width: 640px;
  min-height: 80%;
}

footer {
  /* margin-top: 40px; */
  font-size: xx-small;
  padding: 30px 0 10px 0;
  color: #494949;
  user-select: none;
}

.separator {
  width: 25px;
  height: 5px;
  border: none;
  border-radius: 1px;
  margin: 5px 0 10px 0;
}

.separator.darkmode {
  background: rgba(900, 900, 900, 0.15);
}

.separator.lightmode {
  background: rgba(50, 50, 50, 0.3);
}

@media screen and (max-width: 640px) {
  .global-container {
    padding: 0 20px;
  }
}
