*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: whitesmoke;
  cursor: default;
}

body {
  background: #1f1d21;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app {
  display: flex;
  justify-content: center;
}

.global-container {
  width: 100%;
  max-width: 940px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 100%;
  padding: 20px;
}

.left-part {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 18em;
}

.left-part p {
  font-weight: bold;
}

main {
  width: 100%;
  max-width: 640px;
}

footer {
  padding: 30px 0 10px 0;
  color: #494949;
}
