sociaux-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 0 40px 0;
}

.sociaux-container .separator {
  width: 95px;
  height: 5px;
  border: none;
  border-radius: 1px;
  margin: 5px 0 10px 0;
}

.separator.darkmode {
  background: rgba(900, 900, 900, 0.15);
}

.separator.lightmode {
  background: rgba(50, 50, 50, 0.30);;
}

.sociaux-container p {
  word-spacing: 4px;
  line-height: 20px;
  margin-left: 5px;
  color: #BB4F5D;
  font-weight: bold;
  cursor: pointer;
}

.sociaux-container .ligne {
  display: flex;
  padding: 10px 0;
}