@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

.work-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.work-container h3 {
  font-size: 20px;
}

.work-container p {
  word-spacing: 4px;
  line-height: 20px;
  opacity: 0.7;
}

.work-container .button-49 {
  display: flex;
  justify-content: center;
  align-items: center;
  
  font-family: 'Poppins', sans-serif;

  width: 200px;
  height: 50px;

  border: none;
  border-radius: 5px;
  margin: 20px auto;
  font-size: 20px;
  background: #bb4f5d;
  color: whitesmoke;
  cursor: pointer;

  box-shadow: rgba(187, 79, 95, 1) 0px 2px 3px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 1px -1px;
  transition: all .2s;
}

.work-container .button-49:hover {
  background: #8b3b46;
  transition: all .2s ease-in-out;
}

.information-42 {
  font-weight: bold;
  text-decoration: none;
}

.information-42:visited,
.information-42:hover,
.information-42 {
  color: inherit;
}

/* .work-container a:hover {
  transform: scale(0.95);
} */
