.work-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.work-container .separator {
  width: 40px;
  height: 5px;
  border: none;
  border-radius: 1px;
  margin: 5px 0 10px 0;
}

.separator.darkmode {
  background: rgba(900, 900, 900, 0.15);
}

.separator.lightmode {
  background: rgba(50, 50, 50, 0.30);;
}

.work-container h3 {
  font-size: 20px;
}

.work-container p {
  word-spacing: 4px;
  line-height: 20px;
  opacity: 0.7;
}

.work-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 5px;
  margin: 20px auto;
  font-size: 20px;
  background: #BB4F5D;
  color: whitesmoke;
  cursor: pointer;
  transition: ease 0.4s;
}

.work-container a:hover {
  transform: scale(0.95);
}