.work-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.work-container h3 {
  font-size: 20px;
}

.work-container p {
  word-spacing: 4px;
  line-height: 20px;
  opacity: 0.7;
}

.work-container .button-49 {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 200px;
  height: 50px;

  border: none;
  border-radius: 5px;
  margin: 20px auto;
  font-size: 20px;
  background: #BB4F5D;
  color: whitesmoke;
  cursor: pointer;

  transition: ease 0.4s;
  box-shadow: rgba(187, 79, 95, 1) 0px 2px 3px -1px,
  rgba(0, 0, 0, 0.3) 0px 1px 1px -1px;


}

.work-container .button-49:hover {
  box-shadow: rgba(80, 19, 19, 0.5) -3px -3px 4px 0px inset,
  rgba(55, 15, 15, 0.5) 3px 3px 4px 1px inset;
}

.information-42 {
  font-weight: bold;
  text-decoration: none;
}

.information-42:visited, .information-42:hover {
  color: inherit;
}

/* .work-container a:hover {
  transform: scale(0.95);
} */